<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS_HOME" value="logs/" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%X{traceId}/%X{spanId}] %magenta([%thread])
				%highlight(%-5level) %logger.%M - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}${log.file.name}.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%X{traceId}/%X{spanId}] [%thread] %-5level
				%logger{36}.%M - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}${log.file.name}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- maximum size of datasync.log, after this size the datasync.log will 
				be archived -->
			<maxFileSize>50MB</maxFileSize>
			<!-- total size of all archive files, if total size of all archive files 
				of above patter exceeds, it will delete old archived files of above pattern -->
			<totalSizeCap>3GB</totalSizeCap>
			<!-- 10 days to keep -->
			<maxHistory>3</maxHistory>
		</rollingPolicy>

	</appender>

	<appender name="EMAIL"
		class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<asynchronousSending>false</asynchronousSending>
		<!-- Removed gmail Id from here <username></username> -->
		<password>Welcome@123</password>
		<!-- <to>titanposs.servicesteam@mindtree.com</to> -->
		<!-- Removed gmail Id from here <from></from> -->
		<subject>587 datasync-service Error - %msg</subject>
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%X{traceId}/%X{spanId}] [%thread] %-5level
				%logger{36}.%M - %msg%n
			</Pattern>
		</layout>
		<cyclicBufferTracker
			class="ch.qos.logback.core.spi.CyclicBufferTracker">
			<bufferSize>5</bufferSize>
		</cyclicBufferTracker>
	</appender>

	<logger name="com.titan.poss" level="debug" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.hazelcast" level="INFO" additivity="false">
		<!-- <appender-ref ref="FILE_HAZEL" /> removing hazelcast logs can also 
			possible to append, if appended will move to appender -->
	</logger>
	<logger name="org.springframework.scheduling" level="OFF" additivity="false"></logger>
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="EMAIL" /> -->
	</root>

</configuration>